In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('Pelican.csv', delimiter=';')

In [11]:
df.head()

,Customer,Method of Payment,Items,Discount,Sales,Gender,Marital Status,Age,Desconto?,Desconto?.1
0,1,Discover,1,0.0,39.5,Male,Married,32,Não,Não
1,2,Proprietary Card,1,25.6,102.4,Female,Married,36,Sim,Sim
2,3,Proprietary Card,1,0.0,22.5,Female,Married,32,Não,Não
3,4,Proprietary Card,5,121.1,100.4,Female,Married,28,Sim,Sim
4,5,Mastercard,2,0.0,54.0,Female,Married,34,Não,Não